<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="game edit">
  <h2>Edit Game</h2>


  <% #THIS FORM NEEDS TO HAVE A VARIABLE RATHER THAN A STRING!!! %>
  <%= form_for(@game, :url => {:action => 'update', :id => @game.id}) do |f| %>
  
    <table summary="Game form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>

      <tr>
        <th>Prisoners<br/>ctrl + click</th>
        <td>
          <%= f.select(:prisoner_ids, @prisoner_select_data, {}, {:multiple => true, :size => 5}) %>
        </td>
      </tr>
      
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Update Game") %>
    </div>
    
  <% end %>
</div>
