<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="game edit">
  <h2>Edit Game</h2>

  <%= form_for(:game, :url => {:action => 'update', :id => @game.id}) do |f| %>
  
    <table summary="Game form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>

      <tr>
        <th>Choose Prisoners<br/>(CTR+click)</th>
        <td>
          <%= f.select(:prisoners, @listbox_data, {:selected => @selected_prisoner_ids}, {:multiple => true, :size => @all_prisoners.count}) %>
        </td>
      </tr>
      
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Update Game") %>
    </div>
    
  <% end %>
</div>
