<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="game show">
  <h2>Show Game</h2>

  <table summary="Page detail view">
    <tr>
      <th>ID</th>
      <td><%= @game.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @game.name %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @game.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @game.updated_at %></td>
    </tr>
  </table>
  
</div>
