<!DOCTYPE html>
<html>
<head>
  <title>Prisoner's Dilemma Admin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
<h1 id='titleHeader'>Prisoner's Dilemma Admin</h1>
</div>

<div id="main">
  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div id='content'>
    <%= yield %>
    <br/>
    <%= link_to("Main Menu", :controller => 'access', :action => 'welcome') %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to("Logout", :controller => 'access', :action => 'logout') %>
  </div>

</div>

<div id='footer'>
Created by Selah Lynch
</div>

</body>
</html>
